@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;700&display=swap');

body {
  background: rgb(75,16,42);
  background: linear-gradient(0deg, rgba(75,16,42,1) 0%, rgba(21,21,22,1) 100%);
}

.App {
  font-family: 'Kanit', sans-serif !important;
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-text {
  width: 80%;
  background-color: #fff;
  color: #000;
  padding: 18px;
  border-radius: 30px;
  box-sizing: border-box;
}

.bottom-text {
  width: 80%;
  background-color: rgba(192, 192, 192, 0);
  color: rgb(197, 197, 197);
  padding: 18px;
  border-radius: 30px;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.item {
  padding: 18px;
  border-radius: 30px;
  margin-top: 16px;
  box-sizing: border-box;
}

.item > span {
  display: block;
}

#new_case {
  background: linear-gradient(to bottom, #8e0e00, #1f1c18);
  width: 100%;
  padding: 1rem;
}

#new_death, #total_death {
  width: 49%;
  padding: 1rem;
}

#new_death {
  margin-right: 14px;
  background: linear-gradient(to bottom, #414345 ,#232526);
}

#total_death {
  background: linear-gradient(to top, #232526, #414345);
}

#total_case {
  margin-right: 14px;
  background: rgb(131,58,180);
  background: linear-gradient(0deg, rgba(131, 58, 180, 0.192) 0%, rgba(253, 29, 29, 0.164) 50%);
}

#new_recovered {
  margin-right: 14px;
  background: linear-gradient(0deg, rgba(34, 195, 104, 0.322) 0%, rgba(45, 253, 208, 0.322) 100%);
}

#total_recovered {
  background: linear-gradient(0deg, rgba(34, 125, 195, 0.322) 0%, rgba(45, 253, 208, 0.322) 100%);
}

#total_case, #new_recovered, #total_recovered {
  width: 32.16%;
}



@media (max-width: 876px) {
  #new_death, #total_death {
    width: 100%;
    margin-right: 0;
  }
}


@media (max-width: 660px) {
  #total_case, #new_recovered, #total_recovered {
    width: 100%;
    margin-right: 0;
  }
}
